#table-container {
    font-family: sans-serif;
    width: 100%;
    border: solid 1px #c3c3c3;
    margin: 0 auto;

    #table-max-width-container {
        text-align: center;
    }

    .table-item-container {
        display: inline-block;
        vertical-align: bottom;
        margin: 0 auto;
        color: #686868;

        .table-item {
            background: #e3e3e3;
            font-weight: bold;
            width: 100%;
            margin: 0 auto;
            transition: all ease 0s;

            &:hover {
                background: #d3d3d3;
            }

            &.primary {
                background: #007bff;
                color: white;

                &:hover {
                    background: #0673e8;
                }
            }

            &.success {
                background: #28a745;
                color: white;

                &:hover {
                    background: #22963d;
                }
            }

            &.danger {
                background: #dc3545;
                color: white;

                &:hover {
                    background: #ce2d3d;
                }
            }

            &.warning {
                background: #ffc107;
                color: black;

                &:hover {
                    background: #efb60b;
                }
            }

            &.info {
                background: #17a2b8;
                color: white;

                &:hover {
                    background: #1398ad;
                }
            }

            &.secondary {
                background: #6c757d;
                color: white;

                &:hover {
                    background: #636a70;
                }
            }

            .table-item-title {
                height: 100%;
                vertical-align: middle;
                margin: 0;
            }
        }
    }
}
